
#mobilemenu {
    background: #fff;
    z-index: 3002;
    overflow: hidden;
    overflow-y: auto;
    transition: left .4s ease 0s,opacity .4s ease 0s;
    position: fixed;
    
    top: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    left: -100%;
    box-shadow: 3px 0 10px 0 rgba(0,0,0,.45);
}

.show {
    display: block!important;
}
#mobilemenu.leftside.show {
    left: 0;
    box-shadow: 3px 0 10px 0 rgba(0,0,0,.45);
}

#mobilemenu-overlay {
    display: none;
    background: #3a3f44;
    opacity: .7!important;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2999;
}

#mobilemenu>.scroller {
    overflow: hidden;
}   

.mobilemenu-v1 .mobile-language ul {
    padding: 0;
    padding-top: 15px;
}

.mobilemenu-v1 .mobile-language ul li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 8px;
}

.mobilemenu-v1 .mobile-language ul li a.active {
    color: #087056;
    border-bottom: 2px solid #087056;
}

.mobilemenu-v1 .mobile-language ul li a {
    font-weight: 600;
}

#mobilemenu>.scroller>.wrap {
    width: 100%;
    transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
}

#mobilemenu .menu2 ul>li, #mobilemenu .menu2>ul {
    display: block;
    margin: 0;
    padding: 0;
}   

#mobilemenu .menu2 ul>li, #mobilemenu .menu2>ul {
    display: block;
    margin: 0;
    padding: 0;
}

#mobilemenu .expanded>.dropdown>div, #mobilemenu .menu2 ul>li, #mobilemenu .social-icons {
    border-bottom: 1px solid #f2f2f2;
}

#mobilemenu .menu2 ul>li a.parent {
    padding-right: 46px;
}

#mobilemenu .menu2>ul>li>a {
    background: #fff;
    font-size: 15px;
    font-weight: 700;
}

#mobilemenu .menu2 ul>li a {
    padding: 19px 20px 20px 19px;
    display: block;
    position: relative;
}

.dark-color {
    color: #333;
}

#mobilemenu .dropdown {
    left: 100%;
    top: 0;
    width: 100%;
    border: none;
    box-shadow: none;
    visibility: visible;
    opacity: 1;
    display: none;
    position: absolute;
    z-index: 5;
    background: #FFF;
    margin: 0;
    padding: 0;
}

#mobilemenu .expanded>.dropdown .menu_title {
    font-size: 15px;
    line-height: 18px;
    color: #333;
    font-weight: 700;
    padding: 22px 23px 23px 19px;
    background-color: #fbfbfb;
}
#mobilemenu .expanded>.dropdown .menu_back a {
    font-size: 15px;
    line-height: 18px;
    padding: 22px 20px 23px 57px;
    cursor: pointer;
    position: relative;
}

#mobilemenu .expanded>.dropdown .menu_back .svg {
    position: absolute;
    top: 16px;
    left: 13px;
}

.svg-arrow-right {
    background-image: url("/static/img/Arrow_right.svg"  );
}
.svg {
    top: -1px;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    min-width: 30px;
    min-height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
}

#mobilemenu .menu2.middle>ul>li>a {
    padding-left: 57px;
    background: #f7f9fa;
}

#mobilemenu .menu2>ul>li>a {
    background: #fff;
    font-size: 15px;
    font-weight: 700;
}
#mobilemenu .menu2 ul>li a {
    padding: 19px 20px 20px 19px;
    display: block;
    position: relative;
}

.svg-phone {
    margin: 0 8px 0 0;
    min-width: 8px;
    min-height: 11px;
    background-image: url('/static/img/Phone_small.svg');
}

#mobilemenu .menu2.middle a .svg-phone {
    min-width: 8px;
    min-height: 11px;
    left: 27px;
    top: 26px;
    background-image: url('/static/img/Phone_small_black.svg');
    position: absolute;
}

.contacts .title{
    color: #666;
}

#mobilemenu .contacts .title {
    font-weight: 700;
    padding: 19px 20px 6px 19px;
}

#mobilemenu .contacts .address, #mobilemenu .contacts .email {
    padding: 12px 20px 0 50px;
    position: relative;
    line-height: 18px;
    font-size: 13px;
}

#mobilemenu .contacts .svg.svg-address {
    position: absolute;
    left: 20px;
    top: 14px;
    width: 13px;
    min-width: initial;
    height: 16px;
    min-height: initial;
}

.svg.svg-address {
    top: -2px;
    background-image: url("/static/img/Addres_footer.svg");
}

#mobilemenu .contacts .svg-email {
    min-width: inherit;
    min-height: inherit;
    height: 12px;
    width: 14px;
    position: absolute;
    left: 20px;
    top: 15px;
}

.svg.svg-email {
    background-image: url("/static/img/Mail_footer.svg");
}

.social-icons {
    border-bottom: 1px solid #f2f2f2;
}

#mobilemenu .social-icons ul {
    padding: 16px 0 30px;
    margin: 0;
}

.social-icons ul {
    margin: -4px;
    padding: 0;
    width: auto;
    font-size: 0;
    line-height: 0;
}
#mobilemenu .social-icons li {
    list-style: none;
    display: block;
}

.social-icons li {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    padding: 0;
    margin: 0;
}

#mobilemenu .social-icons li>a {
    font-size: 13px;
    line-height: 20px;
    background: 0 0;
    padding: 5px 27px 5px 50px;
    width: 100%;
    opacity: 1;
    position: relative;
    margin: 0;
    height: auto;
    overflow: visible;
}

.soc-avt a i.facebook, .social-icons li.facebook a {
    background-position: -48px 0;
}

#mobilemenu .social-icons li>a .svg.svg-social-fb {
    background-image: url("/static/img/Facebook_white_mask.svg");
}
.svg-social-fb {
    background-image: url("/static/img/Facebook_mask.svg");
}

#mobilemenu .social-icons li>a .svg.svg-social-vk {
    background-image: url("/static/img/Vk_white_mask.svg");
}
.svg-social-vk {
    background-image: url("/static/img/Vk_mask.svg");
}

#mobilemenu .social-icons li>a .svg.svg-social-instagram {
    background-image: url("/static/img/Instagram_white_mask.svg");
}
.svg-social-instagram {
    background-image: url("/static/img/Instagram_mask.svg");
}

#mobilemenu .expanded>.dropdown>div, #mobilemenu .menu2 ul>li, #mobilemenu .social-icons {
    border-bottom: 1px solid #f2f2f2;
}

#mobilemenu .social-icons li>a .svg {
    position: absolute;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    left: 19px;
    top: 5px;
    background-color: #333;
}

#mobilemenu .social-icons li>a {
    font-size: 13px;
    line-height: 20px;
    background: 0 0;
    padding: 5px 27px 5px 50px;
    width: 100%;
    opacity: 1;
    position: relative;
    margin: 0;
    height: auto;
    overflow: visible;
}

.social-icons ul li {
    margin-bottom: 10px;
}

ol, ul {
    margin: 25px 0;
    padding-left: 0;
}

