@font-face {
	font-family: "PT Sans Caption";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/ptsanscaption/v13/0FlMVP6Hrxmt7-fsUFhlFXNIlpcadw_0.ttf)
		format("truetype");
}
@font-face {
	font-family: "PT Sans Caption";
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/ptsanscaption/v13/0FlJVP6Hrxmt7-fsUFhlFXNIlpcSwSrkQQ-q.ttf)
		format("truetype");
}

#mobile_city{
    display: none;
}

.down-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    background: url(/static/img/down-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}

.shadow1:hover {
    z-index: 1;
    -webkit-box-shadow: 0 5px 20px 0 rgba(18,25,38,.1);
    -moz-box-shadow: 0 5px 20px 0 rgba(18,25,38,.1);
    box-shadow: 0 5px 20px 0 rgba(18,25,38,.1);
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
