{% extends "base.html" %}
{% load static %}

{%block styles %}
	<link rel="stylesheet" href="{%static 'css/usugi-styles.css'%}" />
	<link rel="stylesheet" href="{%static 'css/patients.css'%}" />
    <link rel="stylesheet" href="{%static 'css/about.css'%}" />
	<script
		src="https://kit.fontawesome.com/b79a50aa67.js"
		crossorigin="anonymous"
	></script>
	<style>
		p a {
            color: #0dbc91 !important;
        }
	</style>
	<title>Алмаз Медикал Групп Лекарственное обеспечение</title>
	<meta name="description" content="Алмаз Медикал Групп {{city.name}}. Лекарственное обеспечение"/>
{% endblock %}



{% block body %}
	<body>
		<div class="main-section" style="margin-top: 30px;">
			<div class="wrapper">
				<div class="row" style="margin-bottom: 59px;">
					<div class="col-md-3 col-sm-3 hidden-xs hidden-sm left-menu-md hide-mobile">
						<div class="sidebar">
							<ul class="sidebar-menu">
								<li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="{%url 'main:serviced_area' city.en_name%}" >
											<span>Обслуживаемая территория</span>
                                        </a>										
									</div>									
								</li>
								<li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="https://lkp-zha.dmed.kz/">
											<span>Запись на примем к врачу</span>
										</a>										
									</div>									
								</li>
								<li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="https://lkp-zha.dmed.kz/">
											<span>Вызов врача на дом</span>
										</a>										
									</div>									
								</li>
								<li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<div class="opened active" >
											<span>Лекарственное обеспечение</span>
                                        </div>										
									</div>									
								</li>
								<li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="https://www.kdlolymp.kz/results/login">
											<span>Результаты лабораторных исследований</span>
										</a>										
									</div>									
								</li>
								<li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="https://lkp-zha.dmed.kz/">
											<span>Личный кабинет</span>
										</a>										
									</div>									
                                </li>
                                <li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="{%url 'main:gobmp' city.en_name%}">
											<span>ГОБМП</span>
										</a>										
									</div>									
                                </li>
                                <li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="{%url 'main:osms' city.en_name%}">
											<span>ОСМС</span>
										</a>										
									</div>									
                                </li>
                                <li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="{%url 'main:question_answer' city.en_name%}">
											<span>Вопрос ответ</span>
										</a>										
									</div>									
                                </li>
                                <li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="{%url 'main:goverment_services' city.en_name%}">
											<span>Государственные услуги</span>
										</a>										
									</div>									
                                </li>
                                <li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="{%url 'main:public_service_register' city.en_name%}">
											<span>Реестр Государственных услуг</span>
										</a>										
									</div>									
								</li>								
							</ul>
						</div>					
					</div>
					
					<div class="col-md-9 col-sm-12 col-xs-12 content-md">
                        <p>
                            Об утверждении Перечня лекарственных средств и изделий медицинского назначения для обеспечения граждан в рамках гарантированного объема бесплатной медицинской помощи и в системе обязательного cоциального медицинского страхования, в
                            том числе отдельных категорий граждан с определенными заболеваниями (состояниями) бесплатными и (или) льготными лекарственными средствами, изделиями медицинского назначения и специализированными лечебными продуктами на амбулаторном
                            уровне
                        </p>
                        <p>
                            <a href="{%static 'img/ministry_order.docx'%}" download>
                                Приказ Министра здравоохранения Республики Казахстан от 29 августа 2017 года № 666
                            </a>
                        </p>
                        <br />
                    </div>                  
				</div>							
			</div>
		</div>
	</body>
{% endblock %}

{% block scripts%}
	<!-- SCRIPTS -->
	<script src="js/main.js"></script>
	<script src="js/uslugi.js"></script>
{%endblock%}
