{% extends "base.html" %}
{% load static %}

{%block styles %}
	<link rel="stylesheet" href="{%static 'css/news.css'%}">
	<link rel="stylesheet" href="{%static 'css/carousel.css'%}">
	
{% endblock %}



{% block body %}
<body>
		

	<!-- MAIN SECTION -->
	<div class="main-section" id="html" style="margin-top: 56px;margin-bottom: 40px;">
		<div class="wrapper">
			<div class="row" style="margin-bottom: 40px;">
				<div class="col-md-9">
                    <div class="slideshow-container">
						<div class="mySlides fade">						  
							<img src="{{current_new.image.url}}" style="width:100%">
							<div class="text">{{current_new.name}}</div>						  
						</div>
						{%for image in images%}
							<div class="mySlides fade">						  
								<img src="{{image.image.url}}" style="width:100%">	
								<div class="text">{{image.name}}</div>					  
							</div>
					  	{%endfor%}											  
						{%if images%}
							<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides(1)">&#10095;</a>
						{%endif%}
					</div>					
                    <div class="new-date"> <span>{{current_new.date|date:"d F Y"}}</span></div>
                    <span class="new-content">{{current_new.description}}</span>
				</div>
            </div>
            <a class="back-url back-block dark_link twosmallfont" href="{%url 'main:news' city.en_name%}"><i class="fa2 fa-angle-left"></i><span>Вернуться</span></a>
		</div>
		
	</div>

	<div class="banner_warning">
		Имеются противопоказания. Необходима консультация специалиста
	</div>
</body>
{% endblock %}

{% block scripts%}
	<!-- SCRIPTS -->
	<script src="{%static 'bootstrap/js/bootstrap.js'%}"></script>
	<script src="{%static 'js/main.js'%}"></script>
	
	<script src="{%static 'js/uslugi.js'%}"></script>
	<script src="{%static 'js/carousel.js'%}"></script>
	<script>
		showSlides(slideIndex);
	</script>
	
	
{%endblock%}