{% extends "base.html" %}
{% load static %}

{%block styles %}
    <link rel="stylesheet" href="{%static 'css/specialists.css'%}">
	<style>
		#mobile_sidebar{
			display: none;
		}
		@media (max-width: 700px){
			#pc_sidebar{
				display: none;
			}
			#mobile_sidebar{
				display: block;
			}
		}
	</style>
	<title>Алмаз Медикал Групп Специалисты</title>
	<meta name="description" content="Алмаз Медикал Групп {{city.name}}. Специалисты"/>
{% endblock %}



{% block body %}
	<body>
		<!-- MAIN SECTION -->
		<div class="main-section">
			<div class="wrapper">
				<div class="row" style="margin-bottom: 59px;">
					<div style="margin-bottom: 30px;" class="col-md-3 col-sm-3 hidden-xs hidden-sm left-menu-md">
						<div class="sidebar" id="pc_sidebar">
							<ul class="sidebar-menu">
								{%for activity in activities%}
								<li class="sidebar-menu__item dropdown-link {%if activity.id == current_activity.id%}opened{%endif%}">
									<div class="sidebar-menu__link dropdown-link">
										<a href="{%url 'main:specialists_activity' city.en_name activity.id%}" class="">
											<span>{{activity.name}}</span>
										</a>										
									</div>									
								</li>
								{%endfor%}
								<li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="https://wayfinding.kz/sch/moID_57000000000007629?dep%5B%5D=45500000000027028&dep%5B%5D=45500000000027041&dep%5B%5D=45500000000027045&dep%5B%5D=45500000000027047&dep%5B%5D=45500000000027048&title=%D0%96%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D0%BA%D0%BE%D0%BD%D1%81%D1%83%D0%BB%D1%8C%D1%82%D0%B0%D1%86%D0%B8%D1%8F%D0%9F%D0%B5%D0%B4%D0%B8%D0%B0%D1%82%D1%80%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5+%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%A2%D0%B5%D1%80%D0%B0%D0%BF%D0%B5%D0%B2%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5+%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%A6%D0%B5%D0%BD%D1%82%D1%80+%D1%81%D0%B5%D0%BC%D0%B5%D0%B9%D0%BD%D0%BE%D0%B3%D0%BE+%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D1%8C%D1%8F+%E2%84%962%D0%A6%D0%B5%D0%BD%D1%82%D1%80+%D1%81%D0%B5%D0%BC%D0%B5%D0%B9%D0%BD%D0%BE%D0%B3%D0%BE+%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D1%8C%D1%8F+%E2%84%961&limit=55&interval=5#" class="">
											<span>График работы специалистов и отделений</span>
										</a>										
									</div>									
								</li>
							</ul>
						</div>				
						<div class="sidebar" id="mobile_sidebar">
							<ul class="sidebar-menu">
								<li class="sidebar-menu__item">
									<div class="sidebar-menu__link dropdown-link">
										<a>
											<span>{%if current_activity%}{{current_activity}}{%else%}Выберите направление{%endif%}</span>
										</a>
										<div class="fas fa-caret-down-div" aria-hidden="true">
											<i class="fas fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
									<ul class="dropdown-link__content">
										{%for activity in activities%}
											{%if activity != current_activity%}
												<li class="sidebar-menu__item dropdown-link {%if activity.id == current_activity.id%}opened{%endif%}">
													<div class="sidebar-menu__link dropdown-link">
														<a href="{%url 'main:specialists_activity' city.en_name activity.id%}" class="">
															<span>{{activity.name}}</span>
														</a>										
													</div>									
												</li>
											{%endif%}
										{%endfor%}
										<li class="sidebar-menu__item dropdown-link">
											<div class="sidebar-menu__link dropdown-link">
												<a href="https://wayfinding.kz/sch/moID_57000000000007629?dep%5B%5D=45500000000027028&dep%5B%5D=45500000000027041&dep%5B%5D=45500000000027045&dep%5B%5D=45500000000027047&dep%5B%5D=45500000000027048&title=%D0%96%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D0%BA%D0%BE%D0%BD%D1%81%D1%83%D0%BB%D1%8C%D1%82%D0%B0%D1%86%D0%B8%D1%8F%D0%9F%D0%B5%D0%B4%D0%B8%D0%B0%D1%82%D1%80%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5+%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%A2%D0%B5%D1%80%D0%B0%D0%BF%D0%B5%D0%B2%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5+%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%A6%D0%B5%D0%BD%D1%82%D1%80+%D1%81%D0%B5%D0%BC%D0%B5%D0%B9%D0%BD%D0%BE%D0%B3%D0%BE+%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D1%8C%D1%8F+%E2%84%962%D0%A6%D0%B5%D0%BD%D1%82%D1%80+%D1%81%D0%B5%D0%BC%D0%B5%D0%B9%D0%BD%D0%BE%D0%B3%D0%BE+%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D1%8C%D1%8F+%E2%84%961&limit=55&interval=5#" class="">
													<span>График работы специалистов и отделений</span>
												</a>										
											</div>									
										</li>
									</ul>
								</li>									
							</ul>
						</div>	
						
					</div>
					
					<div class="col-md-9 col-sm-12 col-xs-12">
						{%for doctor in doctors%}									
							<div class="spec-title">{{doctor.activity.name}}</div>
							{%if doctor.activity.description%}
								<div class="spec-description">{{doctor.activity.description}}</div>
							{%endif%}
							<div class="row" style="margin-bottom: 42px;">
								{%for element in doctor.doctors%}									
									
										<div class="col-md-4 col-sm-12 col-xs-12">
											<a href="{%url 'main:specialist' city.en_name element.id%}">
												<div class="shadow1 {%if element.is_working%}has-address{%else%}spec-wrap{%endif%}">
													<div class="spec-img-wrap">
														
															<img src="{%if element.image%}{{element.image.url}}{%else%}{%static 'img/photo-not-found.jpg'%}{%endif%}" alt="" class="spec-img">
														
														
													</div>
													<div class="spec-body">
														<div class="spec-name">
															<a href="{%url 'main:specialist' city.en_name element.id%}">{{element.fullname}}</a>
														</div>
														<div class="spec-profession">
															<span>{{element.position.name}}</span>
														</div>
													</div>
													{%if element.is_working and element.has_appointment%}
														<div class="bottom-block">
															<div class="wrap">
																<div class="button text-right no_address">
																	<span class="btn btn-default animate-load" data-event="jqm" data-param-id="18" data-name="record_online" data-autoload-specialist="15">Запись онлайн</span>
																</div>
															</div>
														</div>
													{%endif%}
												</div>
											</a>
										</div>
									
								{%endfor%}
							</div>							
						{%endfor%}
						{%with doctors|first as current_doctors%}
							{%if current_activity and current_doctors.doctors|length == 0 %}
								<div style="text-align: center;font-size: 25px;font-weight: 700;">Специалистов нет!</div>
							{%endif%}
						{%endwith%}
					</div>
				</div>							
			</div>
		</div>

		<div class="banner_warning">
			Имеются противопоказания. Необходима консультация специалиста
		</div>

		<!-- SCRIPTS -->
		
	</body>
{% endblock %}

{% block scripts%}
	<!-- SCRIPTS -->
	<script src="{%static 'bootstrap/js/bootstrap.js'%}"></script>
	<script src="{%static 'js/main.js'%}"></script>
	
	<script src="{%static 'js/uslugi.js'%}"></script>
	
{%endblock%}