{% extends "base.html" %}
{% load static %}

{%block styles %}
    <link rel="stylesheet" href="{%static 'css/specialist.css'%}">
    <title>Алмаз Медикал Групп {{current_doctor.fullname}}</title>
	<meta name="description" content="Алмаз Медикал Групп Специалист"/>
{% endblock %}



{% block body %}
	<body>
		<!-- MAIN SECTION -->
		<div class="main-section">
			<div class="wrapper">
				<div class="row" style="margin-bottom: 59px;">
					<div class="col-md-3 col-sm-3 hidden-xs hidden-sm left-menu-md">
						<div class="sidebar">
							<ul class="sidebar-menu">
								{%for activity in activities%}
								<li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="{%url 'main:specialists_activity' city.en_name activity.id%}" class="">
											<span>{{activity.name}}</span>
										</a>										
									</div>									
								</li>
								{%endfor%}
								<li class="sidebar-menu__item dropdown-link">
									<div class="sidebar-menu__link dropdown-link">
										<a href="https://wayfinding.kz/sch/moID_57000000000007629?dep%5B%5D=45500000000027028&dep%5B%5D=45500000000027041&dep%5B%5D=45500000000027045&dep%5B%5D=45500000000027047&dep%5B%5D=45500000000027048&title=%D0%96%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D0%BA%D0%BE%D0%BD%D1%81%D1%83%D0%BB%D1%8C%D1%82%D0%B0%D1%86%D0%B8%D1%8F%D0%9F%D0%B5%D0%B4%D0%B8%D0%B0%D1%82%D1%80%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5+%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%A2%D0%B5%D1%80%D0%B0%D0%BF%D0%B5%D0%B2%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5+%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%A6%D0%B5%D0%BD%D1%82%D1%80+%D1%81%D0%B5%D0%BC%D0%B5%D0%B9%D0%BD%D0%BE%D0%B3%D0%BE+%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D1%8C%D1%8F+%E2%84%962%D0%A6%D0%B5%D0%BD%D1%82%D1%80+%D1%81%D0%B5%D0%BC%D0%B5%D0%B9%D0%BD%D0%BE%D0%B3%D0%BE+%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D1%8C%D1%8F+%E2%84%961&limit=55&interval=5#" class="">
											<span>График работы специалистов и отделений</span>
										</a>										
									</div>									
								</li>
							</ul>
						</div>					
					</div>
					
					<div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="detail staff">
                            <div class="detail_wrap">
                                <div class="top_block clearfix">
                                    <div class="detailimage">
                                        <img src="{%if current_doctor.image%}{{current_doctor.image.url}}{%else%}{%static 'img/photo-not-found.jpg'%}{%endif%}" title="{{current_doctor.fullname}}" alt="{{current_doctor.fullname}}" class="img-responsive" />
                                    </div>
                                    <div class="top_right_block clearfix">
                                        {%if current_doctor.is_working%}
                                            <div class="top_desc pull-right">
                                                <div class="button2">
                                                    <span class="btn btn-default btn-lg animate-load" data-event="jqm" data-param-id="18" data-name="record_online" data-autoload-specialist="15">Запись онлайн</span>
                                                </div>
                                                <div class="text">
                                                    <!--
                                                                    -->Запишитесь на прием к доктору в удобное для вас время<!--
                                                                -->
                                                </div>
                                            </div>
                                        {%endif%}
                                        <div class="properties">
                                            {%if current_doctor.position%}
                                            <div class="property">
                                                <div class="title-prop twosmallfont">Должность</div>
                                                <div class="">{{current_doctor.position.name}}</div>
                                            </div>
                                            {%endif%}
                                            {%if current_doctor.qualification_category%}
                                            <div class="property">
                                                <div class="title-prop twosmallfont">Квалификационная категория</div>
                                                <div class="">{{current_doctor.qualification_category}}</div>
                                            </div>
                                            {%endif%}
                                            {%if current_doctor.work_experience > 0%}
                                            <div class="property">
                                                <div class="title-prop twosmallfont">Стаж работы по специальности</div>
                                                <div class="">{{current_doctor.work_experience}} лет</div>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="post-content">
                                    <div class="properties">
                                        {%if current_doctor.qualification.all|length > 0%}
                                        <div class="property awards">
                                            <div class="title-prop twosmallfont">Документ о повышении квалификации за последние 5 лет</div>
                                            <div class="value">
                                                <ul>
                                                    {%for document in current_doctor.qualification.all%}
                                                        <li>{{document.name}}</li>
                                                    {%endfor%}
                                                </ul>
                                            </div>
                                        </div>
                                        {%endif%}
                                        <div class="property activity">
                                            <div class="title-prop twosmallfont">Направление деятельности</div>
                                            <div class="value">{{current_doctor.direction_of_activity.name}}</div>
                                        </div>
                                        {%if current_doctor.education.all|length > 0%}
                                        <div class="property education">
                                            <div class="title-prop twosmallfont">Образование</div>
                                            <div class="value">
                                                <ul>
                                                    {%for element in current_doctor.education.all%}
                                                    <li>{{element.name}}</li>
                                                    {%endfor%}
                                                </ul>
                                            </div>
                                        </div>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <a class="back-url back-block dark_link twosmallfont" href="{%url 'main:specialists' city.en_name%}"><i class="fa2 fa-angle-left"></i><span>Список сотрудников</span></a>
					</div>
				</div>							
			</div>
		</div>

		<div class="banner_warning">
			Имеются противопоказания. Необходима консультация специалиста
		</div>

		<!-- SCRIPTS -->
		
	</body>
{% endblock %}

{% block scripts%}
	<!-- SCRIPTS -->
	<script src="{%static 'bootstrap/js/bootstrap.js'%}"></script>
	<script src="{%static 'js/main.js'%}"></script>
	
	<script src="{%static 'js/uslugi.js'%}"></script>
	
{%endblock%}